.modalWrapper {
    height: 80%;
    width: 80%;
    background-color: slategray;
}

.modalImage {
    height: auto;
    max-width: 100%;
}

.buttonHolder {
    display: flex;
    justify-content: flex-end;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}